CheapLoansDisplay/Web References/localhost/LoanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllLoans">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLoansResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLoansResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanByCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanByCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoanByCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllLoansSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLoans" />
  </wsdl:message>
  <wsdl:message name="GetAllLoansSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLoansResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoanByCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoanByCustomer" />
  </wsdl:message>
  <wsdl:message name="GetLoanByCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoanByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLoansHttpGetIn" />
  <wsdl:message name="GetAllLoansHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLoanByCustomerHttpGetIn">
    <wsdl:part name="customerName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLoanByCustomerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllLoansHttpPostIn" />
  <wsdl:message name="GetAllLoansHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLoanByCustomerHttpPostIn">
    <wsdl:part name="customerName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLoanByCustomerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="LoanServiceSoap">
    <wsdl:operation name="GetAllLoans">
      <wsdl:input message="tns:GetAllLoansSoapIn" />
      <wsdl:output message="tns:GetAllLoansSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCustomer">
      <wsdl:input message="tns:GetLoanByCustomerSoapIn" />
      <wsdl:output message="tns:GetLoanByCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoanServiceHttpGet">
    <wsdl:operation name="GetAllLoans">
      <wsdl:input message="tns:GetAllLoansHttpGetIn" />
      <wsdl:output message="tns:GetAllLoansHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCustomer">
      <wsdl:input message="tns:GetLoanByCustomerHttpGetIn" />
      <wsdl:output message="tns:GetLoanByCustomerHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoanServiceHttpPost">
    <wsdl:operation name="GetAllLoans">
      <wsdl:input message="tns:GetAllLoansHttpPostIn" />
      <wsdl:output message="tns:GetAllLoansHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCustomer">
      <wsdl:input message="tns:GetLoanByCustomerHttpPostIn" />
      <wsdl:output message="tns:GetLoanByCustomerHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanServiceSoap" type="tns:LoanServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLoans">
      <soap:operation soapAction="http://tempuri.org/GetAllLoans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCustomer">
      <soap:operation soapAction="http://tempuri.org/GetLoanByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoanServiceSoap12" type="tns:LoanServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLoans">
      <soap12:operation soapAction="http://tempuri.org/GetAllLoans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetLoanByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoanServiceHttpGet" type="tns:LoanServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAllLoans">
      <http:operation location="/GetAllLoans" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCustomer">
      <http:operation location="/GetLoanByCustomer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoanServiceHttpPost" type="tns:LoanServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAllLoans">
      <http:operation location="/GetAllLoans" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCustomer">
      <http:operation location="/GetLoanByCustomer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanService">
    <wsdl:port name="LoanServiceSoap" binding="tns:LoanServiceSoap">
      <soap:address location="https://localhost:44308/LoanService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoanServiceSoap12" binding="tns:LoanServiceSoap12">
      <soap12:address location="https://localhost:44308/LoanService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoanServiceHttpGet" binding="tns:LoanServiceHttpGet">
      <http:address location="https://localhost:44308/LoanService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoanServiceHttpPost" binding="tns:LoanServiceHttpPost">
      <http:address location="https://localhost:44308/LoanService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>